@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@font-face {
    font-family: grotesk_light;
    src: url("../fonts/Grotesk_Light.ttf");
}

@font-face {
    font-family: grotesk_medium;
    src: url("../fonts/Grotesk_Medium.ttf");
}

body{
    font-family: grotesk_light;
}

.cartDesignerPic {
    width: 20%;
}

.cartCheckout {
    text-align: right;
}

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }
    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }
    .actions .btn-info {
        float: left;
    }
    .actions .btn-danger {
        float: right;
    }
    table#cart thead {
        display: none;
    }
    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }
    table#cart tbody tr td:first-child {
        background: #B0B0B0;
        color: #fff;
    }
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }
    table#cart tfoot td {
        display: block;
    }
    table#cart tfoot td .btn {
        display: block;
    }
}

#cart-checkout-status,
#cart-checkout-msg {
    text-align: center;
    color: red;
}

#cart-checkout-notice {
    text-align: center;
    color: red;
    margin-bottom: 25px;
}

.button {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border: 3px solid;
    padding: 13px 85px;
}

.button:hover {
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
    text-decoration: none;
}

.btnPrimary {
    background-color: rgb(52, 168, 200);
    border-color: rgb(52, 168, 200);
    color: rgb(255, 255, 255);
}

.btnPrimary:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(52, 168, 200);
    color: rgb(52, 168, 200);
}

.btnWarning {
    background-color: rgb(226, 65, 62);
    border-color: rgb(226, 65, 62);
    color: rgb(255, 255, 255);
}

.btnWarning:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(226, 65, 62);
    color: rgb(226, 65, 62);
}

.btn-danger {
    background-color: rgb(226, 65, 62);
    border-color: rgb(226, 65, 62);
    border: 0px;
}

.btn-info {
    background-color: rgb(52, 168, 200);
    border-color: rgb(52, 168, 200);
    border: 0px;
    border-radius: 0px;
}